<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {{ partial "head/seo" . }}
  {{ partial "head/favicon" . }}
  {{ partial "head/font" . }}
  {{ partialCached "head/styles" . }}
  {{ partialCached "head/scripts" . }}
  {{ partial "head/analytics" .}}
  <link rel="preload" href="/config-logo-animation.mov" as="video" type="video/mp4;codecs=hvc1" crossorigin>
</head>

<body class="bg-white dark:bg-neutral-900 text-neutral-900 dark:text-neutral-50">
  {{ partial "navbar" . }}
  <div class="pt-4">
    {{ block "header" . }}{{ end }}
  </div>
  </header>
  <main class="h-full flex flex-col">
    {{ block "main" . }}{{ end }}
  </main>
  <footer class="font-[GTL-001] text-center overflow-hidden select-none cursor-default pb-1 dark:text-neutral-500">
    <p class="text-[13.5vw] leading-none">John Meguerian</p>
  </footer>
</body>
</html>