@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "GTL-001";
	src: url("/fonts/GTL001.woff2") format("woff2")
}

html {
	height: 100%;
}

body {
	min-height: 100vh;
	min-height: 100dvh;

	padding-block-start: theme(space.8);

	display: grid;
	grid-template-rows: auto 1fr auto;
}

@layer utilities {
	.pad-x {
		@apply px-4 md:px-10;
	}

	img.lazy {
		transition: opacity 1000ms ease-in-out;
	}

	img.lazy:not(.loaded) {
		opacity: 0;
	}

	img.lazy:is(.loaded, .error) {
		opacity: 1;
	}

	.fitty {
		display: inline-block;
		white-space: nowrap;
	}
}