---
import { Font } from "astro:assets";
import "../styles/global.css";
import { Image } from "astro:assets";
import avatarImage from "../assets/profile-pic.jpg";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
		<Font cssVariable="--font-serif" preload />
	</head>
	<body class="antialiased font-serif selection:bg-amber-200">
		<main
			class="min-h-svh p-6 md:px-12 grid grid-rows-[auto_auto_auto_1fr] md:grid-rows-2 md:grid-cols-2 gap-y-1"
		>
			<Image
				priority={true}
				src={avatarImage}
				alt="Profile Picture"
				widths={[64, 128]}
				loading="eager"
				sizes="(max-width: 48rem) 56px, 64px"
				class="size-14 md:size-16 object-cover rounded-full ring-neutral-100 dark:ring-neutral-800 ring-4 md:self-end mb-4 hover:rotate-3 transition-transform ease-spring duration-830"
			/>
			<h1 class="md:col-start-1 md:row-start-1 w-fit">John Meguerian</h1>
			<p class="md:col-start-2 md:row-start-1 w-fit">Design Manager</p>
			<div class="space-y-4 self-end mb-4 w-fit">
				<p>
					johnmeguerian <br />
					[at] gmail.com
				</p>
				<p>
					Brooklyn <br />
					New York <br />
					United States
				</p>
				<p>[ 40°70&apos;N,&nbsp;&nbsp;74°00&apos;W ]</p>
			</div>
		</main>
	</body>
</html>
