---
import Blob from "@components/blob.astro";

import { getEntry } from "astro:content";

const currentBio = await getEntry("bio", "current");
const pastBio = await getEntry("bio", "past");
const { Content: CurrentBioContent } = await currentBio.render();
const { Content: PastBioContent } = await pastBio.render();

const links = [
	["Github", "https://github.com/jmegs"],
	["Instagram", "https://instagram.com/jmegs_"],
	["Linkedin", "https://linkedin.com/in/johnmeguerian"],
];
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>Astro</h1>
		<CurrentBioContent />
		<PastBioContent />
		<ul>
			{
				links.map(([label, url]) => (
					<li>
						<a href="{url}">{label}</a>
					</li>
				))
			}
		</ul>
		<Blob />
	</body>
</html>
