---
import { Font } from "astro:assets";
import "../styles/global.css";
import { Image } from "astro:assets";
import avatarImage from "../assets/profile-pic.jpg";
import Blob from "../components/blob.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="generator" content={Astro.generator} />
		<title>John Meguerian</title>
		<meta name="description" content="Design Manager, Brooklyn, NY" />
		<Font cssVariable="--font-degular-variable" preload />
		{
			import.meta.env.PROD && (
				<script
					is:inline
					id="fathom-script"
					src="https://cdn.usefathom.com/script.js"
					data-site="TVQPDWBA"
					data-honor-dnt="true"
					defer
				/>
			)
		}
	</head>
	<body>
		<main>
			<Image
				priority={true}
				src={avatarImage}
				alt="John"
				widths={[64, 128]}
				loading="eager"
				sizes="(max-width: 48rem) 56px, 64px"
				class="avatar"
			/>
			<h1 class="name">John Meguerian</h1>
			<p class="tagline">Design Manager</p>
			<div class="data">
				<p>
					johnmeguerian <br />
					[at] gmail.com
				</p>
				<p>
					Brooklyn <br />
					New York <br />
					United States
				</p>
				<p>[ 40°70&apos;N,&nbsp;&nbsp;74°00&apos;W ]</p>
			</div>
		</main>
		<Blob />
	</body>
</html>

<style>
	body {
		-webkit-font-smoothing: antialiased;
		background-color: var(--color-surface);
		color: var(--color-tx);
		font-family: var(--font-degular-variable);
		letter-spacing: -0.01em;
	}

	main {
		min-height: 100svh;
		padding: 5vmin;
		display: grid;
		grid-template-rows: auto auto auto 1fr;
		row-gap: 0.25rem;
		grid-template-areas: 
		"avatar"
		"name"
		"tagline"
		"data";

		@media( width >= 48rem) {
			grid-template-rows: repeat(2, minmax(0, 1fr));
			grid-template-columns: repeat(2, minmax(0, 1fr));
			grid-template-areas:
				"name tagline"
				"avatar data";
		}
	}

	.avatar {
		block-size: 4rem;
		inline-size: 4rem;
		object-fit: cover;
		border-radius: calc(infinity * 1px);
		margin-block-end: 1rem;
		transition: transform 250ms ease-out;

		@media (width >= 48rem) {
			align-self: flex-end;
		}

		&:hover {
			transform: rotate(3deg) scale(0.99);
		}
	}

	.name { grid-area: name; }
	.tagline { grid-area: tagline; }
	.avatar { grid-area: avatar; }
	.data { grid-area: data; }

</style>
