---
import { Icon } from "astro-icon/components"
---

<script>
	function updateTime() {
		const timeEl = document.querySelector("#time")
		const now = new Date()

		const options: Intl.DateTimeFormatOptions = {
			timeZone: "America/New_York",
			hour: "2-digit",
			minute: "2-digit"
		}

		const formatter = new Intl.DateTimeFormat([], options)
		timeEl.textContent = "NYC " + formatter.format(now).slice(0, -3)
	}

	// Update the time immediately and then every second
	updateTime()
	setInterval(updateTime, 1000)
</script>

<div class="flex gap-1 items-center">
	<Icon name="ph:map-pin-simple-line" size={16} />
	<span id="time">NYC --:--</span>
</div>
