---
import Breadcrumb from "@/components/breadcrumb.astro"
import ThemeToggle from "@/components/theme-toggle.astro"
---

<div class="flex justify-between items-center py-5">
	<Breadcrumb />
	<ThemeToggle />
</div>
