---
import { Icon } from "astro-icon/components"
const commitHash = import.meta.env.COMMIT_HASH
---

<script>
	function updateTime() {
		const timeEl = document.querySelector("#time")
		const now = new Date()

		const options: Intl.DateTimeFormatOptions = {
			timeZone: "America/New_York",
			hour: "2-digit",
			minute: "2-digit"
		}

		const formatter = new Intl.DateTimeFormat([], options)
		timeEl.textContent = "NYC " + formatter.format(now).slice(0, -3)
	}

	// Update the time immediately and then every second
	updateTime()
	setInterval(updateTime, 1000)
</script>

<div class="site-header flex flex-col">
	<h1 class="mt-12 lg:mt-0 lg:ml-auto">
		<!-- <span>john</span>
		<span class="ml-4 xl:ml-0">meguerian</span> -->
		john meguerian
	</h1>
	<div
		class="flex justify-between flex-col gap-y-2 lg:flex-row text-xs ml-[8.25vw] mr-[0.75vw]"
	>
		<p class="">he's just this guy, you know?</p>
		<div class="flex gap-4">
			<div class="flex gap-1 items-center">
				<Icon name="ph:map-pin-simple-line" size={16} />
				<span id="time">NYC --:--</span>
			</div>
			<div class="flex gap-1 items-center">
				<Icon name="ph:git-merge" size={16} />
				<span id="commit">{commitHash}</span>
			</div>
		</div>
	</div>
</div>

<style>
	.site-header {
		font-size: 44vw;
	}

	h1 {
		font-family: Outward;
		line-height: 0.67;
	}
</style>
