---
import { Icon } from "astro-icon/components"
---

<button id="theme-toggle" aria-label="Toggle theme">
	<Icon
		size={24}
		name="ph:sun-horizon-light"
		class="h-6 w-6 rotate-0 scale-100 transition-all dark:-rotate-12 dark:scale-0"
	/>
	<Icon
		size={24}
		name="ph:moon-stars-light"
		class="h-6 w-6 rotate-12 scale-0 transition-all dark:rotate-0 dark:scale-100"
	/>
</button>

<script>
	const toggleButton: HTMLButtonElement | null =
		document.querySelector("#theme-toggle")

	const handleToggleClick = (event: MouseEvent) => {
		const isDark = document.documentElement.classList.contains("dark")
		const nextTheme = isDark ? "light" : "dark"

		if (event.altKey) {
			const systemPrefersDark = window.matchMedia(
				"(prefers-color-scheme: dark)"
			).matches
			localStorage.removeItem("theme")
			document.documentElement.classList.toggle("dark", systemPrefersDark)
		} else {
			document.documentElement.classList.toggle("dark")
			localStorage.setItem("theme", nextTheme)
		}
	}

	toggleButton?.addEventListener("click", handleToggleClick)
</script>

<style scoped>
	button {
		display: grid;
		grid-template: 1 / 1 / 1 / 1;
	}

	[data-icon] {
		grid-area: 1 / 1;
	}
</style>