{{ $c := "https://res.cloudinary.com/jmegs" }}
{{ $ns := "berkeley"}}
{{ $sz := "100vw" }}
{{ $fm := "f_auto,q_100" }}
{{ $wd := slice "1080" "1920" "2560"}}

{{ $src := .src }}
{{ $alt := .alt }}
{{ with .ratio }} {{ $ar = . }} {{ end }}

{{ $sources := slice }}

{{ range $wd }}
  {{ $w := . }}
  {{ $s := printf "%s/%s,w_%s/%s/%s %sw" $c $fm $w $ns $src $w }}
  {{ $sources = $sources | append $s }}
{{ end }}

{{ $set := delimit $sources ",\n" }}
{{ $fb := printf "%s/f_auto,q_1,w_10/%s/%s" $c $ns $src }}

<img
  class="bg-surface1"
  loading="lazy"
  alt="{{$alt}}"
  srcset="{{$set}}"
  src="{{$fb}}"
  width="1920"
  height="1080"
>

