<header class="px-4 md:px-10 pb-10">
  <div class="flex justify-between select-none">
  <nav class="flex gap-x-2">
    <a href="/" class="flex gap-1 py-1 px-2 rounded-full leading-none bg-neutral-100 dark:bg-neutral-800 items-center uppercase text-xs">
      <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
        <circle cx="6" cy="6" r="4" fill="{{cond .IsHome `currentColor` `none`}}" stroke="currentColor" />
      </svg>
      <span>Index</span>
    </a>
    <a href="/info" class="flex gap-1 py-1 px-2 rounded-full leading-none bg-neutral-100 dark:bg-neutral-800 items-center uppercase text-xs">
      <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
        <circle cx="6" cy="6" r="4" fill="{{cond (eq .RelPermalink `/info/`) `currentColor` `none`}}"
          stroke="currentColor" />
      </svg>
      <span>Info</span>
    </a>
  </nav>
  <div class="flex gap-x-2">
    <div class="flex gap-1 py-1 px-2 rounded-full leading-none items-center uppercase text-xs">
      <svg width="12" height="12" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd"
          d="M9.94969 7.89979C9.94969 9.25278 8.85288 10.3496 7.49989 10.3496C6.14691 10.3496 5.0501 9.25278 5.0501 7.89979C5.0501 6.54681 6.14691 5.45 7.49989 5.45C8.85288 5.45 9.94969 6.54681 9.94969 7.89979ZM10.8632 8.3999C10.6213 10.0404 9.20764 11.2996 7.49989 11.2996C5.79214 11.2996 4.37847 10.0404 4.13662 8.3999H0.5C0.223858 8.3999 0 8.17604 0 7.8999C0 7.62376 0.223858 7.3999 0.5 7.3999H4.13659C4.37835 5.75925 5.79206 4.5 7.49989 4.5C9.20772 4.5 10.6214 5.75925 10.8632 7.3999H14.5C14.7761 7.3999 15 7.62376 15 7.8999C15 8.17604 14.7761 8.3999 14.5 8.3999H10.8632Z"
          fill="currentColor" />
      </svg>
      <span>
        {{ with os.Getenv "VERCEL_GIT_COMMIT_SHA" }}
          {{ substr . 0 7 }}
        {{ else }}
          {{ .GitInfo.AbbreviatedHash }}
        {{ end }}
      </span>
    </div>
    <div class="flex gap-1 py-1 px-2 rounded-full leading-none items-center uppercase text-xs">
      <svg width="12" height="12" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd"
          d="M10 4C10 5.20948 9.14112 6.21836 8 6.44999V14C8 14.2761 7.77614 14.5 7.5 14.5C7.22386 14.5 7 14.2761 7 14V6.44999C5.85888 6.21836 5 5.20948 5 4C5 2.61929 6.11929 1.5 7.5 1.5C8.88071 1.5 10 2.61929 10 4Z"
          fill="currentColor" />
      </svg>
      <span id="clock">NYC 02:34</span>
    </div>
  </div>
</div>