{{ define "header" }}
<div class="prose dark:prose-invert pb-64">
  {{.Content}}
</div>
{{ end }}
{{ define "main" }}
<div class="pad-x mt-auto">
  {{ range where .Site.RegularPages "Section" "project" }}
  <a href="{{.RelPermalink}}">
    <div class="flex items-baseline border-b dark:border-b-neutral-700 py-4">
      <div class="flex gap-x-2 items-baseline">
        <h3 class="font-light text-xl">{{.Title}}</h3>
        <span class="text-sm text-neutral-500">{{.Params.client}}</span>
      </div>
      <span class="ml-auto">View (↓)</span>
    </div>
  </a>
  {{ end }}
  {{ range .Site.Data.sideprojects }}
  <a href="{{.URL}}">
    <div class="flex items-baseline border-b dark:border-b-neutral-700 py-4">
      <div class="flex gap-x-2 items-baseline">
        <h3 class="font-light text-xl">{{.Title}}</h3>
        <span class="text-sm text-neutral-500">{{.Description}}</span>
      </div>
      <span class="ml-auto">Visit (↗)</span>
    </div>
  </a>
  {{ end }}
</div>
{{end}}