{{ define "main" }}
<header class="contain py-40 caps">
	<h1>
		John Meguerian <br>
		Product Design Manager<span class="animate-pulse ml-1">_</span>
	</h1>
</header>

<section id="bio" class="contain">
	<h2 class="sr-only">About John</h2>
	<div class="prose">
		{{ .Content }}
	</div>
</section>

<section id="work" class="contain py-28 space-y-10">
	{{ $count := 1 }}
	<h2 class="sr-only">Selected Work</h2>
	{{ $projects := where .Site.RegularPages "Section" "project" }}
	{{ $sides := .Site.Data.sideprojects }}
	<article id="design" class="link-group">
		<h3 class="caps mb-3">Design</h3>
		<ul role="list" class="space-y-3">
			{{ range $projects }}
				{{ partial "index-link" (dict "url" .RelPermalink "idx" $count "title" .Title)
			}}
			{{ $count = add $count 1 }}
			{{ end }}
		</ul>
	</article>
	<article id="develop" class="link-group">
		<h3 class="caps mb-3">Develop</h3>
		<ul role="list" class="space-y-3">
			{{ range $sides }}
			{{ partial "index-link" (dict "url" .URL "idx" $count "title" .Title) }}
			{{ $count = add $count 1 }}
			{{ end }}
		</ul>
	</article>
	<article id="speak" class="link-group">
		<h3 class="caps mb-3">Speak</h3>
		<ul role="list" class="space-y-3">
			{{range .Site.Data.speaking }}
				{{ $opts := dict "url" .URL "idx" $count "title" (printf "%s %s" .Conf .Year) }}
				{{ partial "index-link" $opts }}
			{{ $count = add $count 1 }}
			{{ end }}
		</ul>
	</article>
	<article id="more" class="link-group">
		<h3 class="caps mb-3">More</h3>
		<ul role="list" class="space-y-3">
			{{/*  TODO add /uses page
			{{ partial "index-link" (dict "url" "/colophon" "idx" $count "title" "Uses") }}
			{{ $count = add $count 1 }}  
			*/}}
			{{ range .Site.Data.social }}
			{{ partial "index-link" (dict "url" .URL "idx" $count "title" .Title) }}
			{{ $count = add $count 1 }}
			{{ end }}
		</ul>
	</article>
</section>
{{end}}
