@import "tailwindcss";

@theme {
	--font-sans: "VC Nudge", Arial, sans-serif;
}

body {
	color: var(--color-stone-800);
	background-color: var(--color-stone-50);

	@media (prefers-color-scheme: dark) {
		color: var(--color-stone-300);
		background-color: var(--color-stone-900);
	}
}

::selection {
	background-color: var(--color-stone-300);
	color: var(--color-stone-900);
}
