@import "tailwindcss";

@theme {
	--font-mono: "TX-02", ui-monospace, monospace;
}

body {
	color: #e5e9f0;
	background-color: #101010;
}

::selection {
	background-color: var(--color-stone-300);
	color: var(--color-stone-900);
}
