@import "tailwindcss";

@theme {
	--font-serif:
		"STIX Two Text", ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
}

body {
	color: var(--color-stone-800);
	background-color: var(--color-stone-50);

	@media (prefers-color-scheme: dark) {
		color: var(--color-stone-300);
		background-color: var(--color-stone-900);
	}
}
