---
import SiteHeader from "../components/site-header.astro"
import Texture from "../components/texture.astro"
import "../styles/base.css"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Document</title>
	</head>
	<body class="text-xs">
		<slot />
	</body>
</html>

<style>
	html {
		height: 100%;
	}

	body {
		font-family: "Berkeley Mono";
		display: flex;
		flex-direction: column;
		min-height: 100dvh;
		padding: 1.5rem;
	}

	main {
		flex-grow: 1;
	}
</style>
