---
import "@/globals.css"
---

<html lang="en" class="h-full">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body class="text-gray-12 bg-gray-1 min-h-full flex flex-col">
		<main class="grow">
			<slot />
		</main>
	</body>
</html>
